/* 
GEOM101 Web Design & Programming
Web page for Assignment 3
*/

/* referencing custom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
/* Most of the general CSS settings were set by Victor */
/* Setting the background colour, all text is aligned centre */
body {
    background-color: #DBCCE0; 
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    height: 100%;
}	
/* Footer styling by Victor */
footer{
    background-color: #c397d1; 
    text-align: center;
    padding-bottom: 1px;
}
/* Set h1 parameters here */
h1 {
	color: #ffffff; 
	font-family: 'Monoton', cursive;
	font-size: 80px;
	font-weight: lighter;
	text-shadow: 2px 2px 5px #000000;
    margin: 25px;
} 
/* Set h2 parameters here, plan to use in pages */
h2{
    font-size: 36px;
}
/* Set h3 parameters here, plan to use in pages */
h3{
    font-size: 24px;
}
/* Set h4 parameters here */
h4 {
	color: #ffffff; 
	text-shadow: 2px 2px 5px #000000;
    font-size: 20px;
}

h5 {
    font-size: 16px;
    margin: 5px 0;
}
/* Set p parameters here */
p {
	color: #000000; 
    font-family: 'Nunito Sans', sans-serif;
    font: 12px
}
/* Parameters to have Company Name overtop of hero image*/
.heroimagetitle {
	position:absolute;
	left:0;
	bottom:0
}
.heroimagecontainercontainer{
    height: 500px;
}
/* Parameters to contain the hero image*/
.heroimagecontainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/DEM.jpg");
	position: relative;
    filter: hue-rotate(90deg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 768px) {   
    h1{ /*Sets page title smaller for smaller devices*/
        font-size: 40px;
    }
    .heroimagecontainercontainer{
        height: 250px;
    }
}
/* Parameters for mission statement on landing page*/
.missionstatement{
	padding-top: 20px;
	padding-bottom: 40px;
    margin-left: 100px;
    margin-right:100px;
    text-align:justify; 
}
/*Container for Services section on landing page. 
    as well as classes for the elements within it. Owner: Zachary Masson*/
.flex-containerServ {
    display: flex;
    flex-wrap: wrap;
    background-color: #DBCCE0;
    justify-content: center;
    margin: 30px;
}
.flex-containerServ > div {
    background-color: #c397d1;
    width: 33%;
    margin: 10px;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 10%;
    padding: 10px;
    height: auto;
}
.ServTitle {
    color: #000000; 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2vw; 
}
.ServImg {
    max-width: 25%;
    float: left;
    filter:hue-rotate(90deg);
}
.ServInfo {
	color: #000000; 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5vw;
}
@media only screen and (max-width: 800px) {
    .flex-containerServ{
        flex-direction: column;
    }
    .flex-containerServ > div{
        width: 90%;
        border-radius: 5%;
    }
}
/*Hero image for project form/ offices owner-Zachary*/
.heroimageProjOf{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Hope_BB.jpg");
	position: relative;
    filter: hue-rotate(90deg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Flex contianer for project form - Owner Zachary
    UNSURE ABOUT THIS. need to make it more responsive*/
.flex-containerProjectForm{
    display: flex;
    flex-direction: row;
    background-color: #DBCCE0;
    justify-content: center;
    margin: 15px;
}
.projectformdesc {
    flex:50%;
    margin: 10px;
    text-align: center;
    padding: 10px;
    height: auto;
}
.projectformsurv {
    flex:50%;
    margin: 10px;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 25%;
    padding: 10px;
    height: auto;
}
/*Responsive for project flex box. Owner - Zachary*/
@media only screen and (max-width: 800px) {
    .projectformdesc, .projectformsurv {
      width: 100%;
    }
    .flex-containerProjectForm{
        flex-direction: column;
    }
}
/*flex container for offices*/
.flex-containeroffice{
    display: flex;
    flex-direction: row;
    background-color: #DBCCE0;
    justify-content: center;
}
/*style all divs in office flex box*/
.flex-containeroffice > div {
    width: 35%;
    margin: 5px;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 10%;
    padding: 40px;
    height: auto;
}
.officesText {
    width:auto;
    margin: 5px;
    text-align: center;
    font-size: 1.5vw;
    padding: 10px;
}
/*second button style, just smaller to fit better in each flexbox*/
.button2tor {
    background-color: #e07509;
    border: 1px solid #e07509;
    border-radius: 4px;
    color: white;
    font-weight:normal;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 99;
}
.button2mtl {
    background-color: #e07509;
    border: 1px solid #e07509;
    border-radius: 4px;
    color: white;
    font-weight: normal;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 99;
}
/* Survey123 Project form - Owner Zachary Masson 
    embed container is the class that containes the iframe and its 'children'*/
.embed-container {
    position: relative; 
    height: 0; 
    padding-bottom:100%; 
    max-width: 100%;
}
/*styling for the elements inside the iframe*/
.embed-container object, .embed-container iframe{
    overflow: hidden; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;} 


/*Container for Projects section on landing page, owner: Jade*/
.flex-containerProjects {
    display: flex;
    flex-wrap: wrap;
    background-color: #DBCCE0;
    justify-content: center;
    margin: 30px;
}
.flex-containerProjects > div {
    background-color: #f1f1f1;
    width: 10%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 10px;
    flex-wrap: wrap;
    border-radius: 20%;
}
.ProjectsImg {
      max-width:100%;
      height:auto;
      border: 1px solid #a5d097; /*Colour here set because hue rotate effects border colour too - using this colour results in desired colour for border.*/
      border-radius:50%;
      filter:hue-rotate(180deg);
}
/*Responsive styling for projects section, owner: Jade*/
@media only screen and (max-width: 1200px) {
    .flex-containerProjects {
        margin: 0;
    }
	.flex-containerProjects > div {
    width: 30%;
    margin: 10px;
  }
}
/* Container for Partners on Team page, Owner: Kerstyne*/
.flex-containerPart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: space-around;
    margin: 50px;
}
.flexcontainerPart > div{
    margin: 10px;
    text-align: center;
    padding: 40px;   
}
.PartnerLogos{
    max-width: 100%;
    height: auto; 
}
/* ******BEGIN PORTFOLIO PAGE STYLING Owner: Ridley****** */

#porthero { /* Sets hero image for portfolio page*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/portfolioaerial.jpg");
    filter: none;
}

.present-portfolio{ /* This is the overall styling for the present project slideshow box.*/
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: auto;
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
/*Slideshow  javascript and CSS based on: https://www.w3schools.com/howto/howto_js_slideshow.asp */
.project-slideshow { /* This is the container for the slide images specifically */
    height: auto;
    margin: 0;
    position: relative;
}
.slide { /* The slides are turned off initially, and positioned to fill the top of the portfolio box */
    display: none;
    position:relative;
}
.slide-img-reg { /* This class is for the slide image that appears initially, and fades out when hovered over. */
    opacity: 1;
    left: 0;
    border-radius: 15px 15px 0 0;
    height: auto;
    max-width: 100%;
    position: relative;
    transition: opacity 1s ease-in-out;
}
.slide-img-hover { /* This class is for the image underneath the above image, that becomes visible when hovered over. */
    left: 0;
    border-radius: 15px 15px 0 0;
    height: auto;
    max-width: 100%;
    position: absolute;
}
.slide:hover .slide-img-reg { /* This changes the opacity of the first image when hovered over */
    opacity: 0;
}

.portfolio-blurb { /* This sets styling for each blurb, and changes display to none, which will be changed by the javascript slideshow function */
    padding: 0 3% 2%;
    text-align: left;
    display: none;
}
/* Next and previous slideshow button styling and positioning */
.prev, .next {
    cursor: pointer;
    position: absolute;
    align-self: center;
    width: auto;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgb(216, 191, 216, 0.9);
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 1;
}
.prev {
    left: 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
} 
.prev:hover, .next:hover{ /* Adds a hover effect to slideshow buttons */
    background-color: #c297cf;
}

.dot-box{ /* Positioning for slideshow dots */
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 10px 0; /* Added some padding so that image fade effect doesn't happen when hovering over the dots */
}
.dot { /* Styling for slideshow dots */
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: rgb(131, 131, 131);
    display: inline-block; /* Lets us set a width and height on elements that will behave as inline */
    transition: background-color 0.6s ease;
}
.active, .dot:hover { /* Adds colour to active dot and dot being hovered over. */
    background-color: #e07509;
}
.project-title { /* Styling for slideshow blurb title */
    font-size: 30px;
    font-weight: bold;
}
.present-list{ /* Styling for slideshow blurb list section */
    list-style-type: square;
}
/* Slideshow animations - fade */
.fade {
    -webkit-animation-name: fade; /* webkit sections add greater browser support, particularly for Safari */
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  } 
  @-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  } 
  @keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  }
.past-projects { /* Sets styling for flex container of past projects */
    display: flex;
    flex-wrap: wrap;
    background-color: #DBCCE0;
    justify-content: center;
}
.project-box { /* Sets styling for flexboxes of past projects */
    background-color: #c397d1;
    width: 45%;
    max-width: 700px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
}
.project-thumb { /* Sets styling for image within each past project */
    float: left;
    width: 35%;
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}
.past-title { /* Sets styling for past project titles */
    margin-top: 0;
}

.past-blurb { /* Sets styling for past project blurbs */
    font-size: 1em;
    text-align: left;
}
.button { /* General styling for buttons, used across multiple pages. */
    background-color: #e07509;
    border: 3px solid #e07509;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.try-it{ /* Adds specific styling for button on portfolio page. */
    margin-top: 30px;
}
.button:hover{ /* Sets hover styling for button. */
    background-color: white;
    color: #e07509;
}
/*Portfolio page responsive styling */
@media only screen and (max-width: 1200px) {
    .project-box{ /* Sets responsive styling for past projects */
        width: 100%;
        margin: 10px 5%;
        height: auto;

    }
    .project-thumb {
        float: none;
        width: 94%;
        object-fit: cover;
        margin: 0 3%;
        height: 200px;
    }
    .past-title{
        margin: 10px;
    }
}

/* ******END PORTFOLIO PAGE STYLING****** */
/* Navbar Styling, owner: Ridley */
.navbar-flex{ /*Class for overall navbar */
    margin: 0;
	display: flex;
	flex-direction: row;
    width: 100%;
    height: auto;
    background-color:white;
}
.navbar-flex-left {  /*Class for navbar flex containing logo */
	flex: 40%;
    align-self: center;
} 
.navbar-flex-right { /*Class for navbar flex containing navigation buttons */

  flex: 60%;
  align-self: center;
  justify-content: right;
}
.logo-container { /*Class for div containing logo */
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}
.logo { /*Class for logo image */
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 0 1px;
}
.navbar-menu { /*Class for list of navbar buttons */
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Setting justify-content and align-items to center centers my flexboxes in mobile view */
    align-items: center;
    float: right;
}
.navbar-item { /*Class for individual navbar items */
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px; /* Setting line height here vertically centers text */
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.navbar-item:hover{ /*Assigns hover attribute to navbar items */
    background-color: #612848;
    color: white;
    transition: background .2s ease-in;
}
#active{ /*Assigns colour to active navbar item */
    background-color: #e07509;
    color: white;
}
/* Navbar dropdown styling */
.dropdown { /*Dropdown div class for navbar items with dropdowns*/
    position: relative;
    display: inline-block;
}
.dropdown-menu { /*Dropdown div for dropdown menu links*/
    position: absolute;
    width: 100px;
    z-index: 1; /* Ensures dropdown does not appear behind other elements */
}
.dropdown-menu a { /*Styling for dropdown links*/
    display: none;
    width: 100px;
    height: 30px;
    line-height: 30px; /* vertically centers text */
    font-weight: bold;
    background-color: white;
    color: black;
    text-decoration: none;
    opacity: 0;
    position: relative;
}
.dropdown-menu a:hover{ /*Hover styling for dropdown links*/
    background-color: #612848;
    color: white;
    transition: background .2s ease-in;
}
.dropdown:hover .dropdown-menu a{
    display: block; /*Turns display of dropdown links on when hovering over dropdown*/
}
.dropdown:hover .navbar-item{ /*Keeps dropdown hover effect on while navigating dropdown list*/
    background-color:#612848;
    transition: background .2s ease-in;
    color: white;
}
.hamburger { /*Styling for hamburger icon*/
    color: #612848;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    display: none; /*Keeps hamburger hidden for desktop displays */
    margin: 0 5px;
}
/* Navbar Dropdown animation styling, based on: https://codinhood.com/micro/10-dropdown-menu-animations-css-transform */
.rotateX { /* Testing mobile navbar animation */
    -webkit-animation-name: rotatex;
    -webkit-animation-duration: 1.5s;
    animation-name: rotatex;
    animation-duration: 1.5s;
}
@keyframes rotateX { /*Sets keyframes for dropdown link animations*/
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
}
.dropdown-item1 { /*Sets animation timing and delay for first dropdown link*/
    transform-origin: top-center;
    animation: rotateX 300ms 60ms ease-in-out forwards;
}
.dropdown-item2 { /*Sets animation timing and delay for second dropdown link*/
    transform-origin: top-center;
    animation: rotateX 300ms 120ms ease-in-out forwards;
}
/*Navbar Mobile Styling, based on w3schools: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
@media only screen and (max-width: 768px) { 
    .navbar-menu{ /*Sets navbar in front of other elements for styling*/
        z-index: 1;
    }
    .navbar-menu > *{ /*Turns off navbar menu initially*/
        display: none;
    }
    .navbar-flex > div { /*Turns off navbar menu initially*/
        width: 100%;
        position: absolute;
        z-index: 1;
        background: rgba(255, 255, 255, 0.7);
    }
    a.hamburger{ /*Displays hamburger for mobile browsers*/
        display: block;
        float: right;
    }
    .navbar-menu.responsive { /*Javascript function appends class 'responsive' to navbar menu when hamburger is clicked*/
        flex-direction: column; /*This css resizes the navbar menu when the hamburger is clicked*/
        width: 100%;
    }
    .navbar-menu.responsive > *{ /*This css turns the navbar itmes on when clicked, and centers the navbar menu items and gives them styling on mobile*/
        float: none;
        display: block;
        background-color:#612848;
        color: white;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }
    .navbar-menu.responsive a{ /*This css styles the links within the navbar menu items and centers the text within them*/
        float: none;
        display: block;
        background-color:#612848;
        color: white;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .navbar-menu.responsive .dropdown-menu{ /*This css turns off the dropdowns for mobile*/
        display: none;
    }
    .navbar-flex { /*This css centers the navbar menu and logo and changes the flex direction to vertical. It also affixes the navbar to the top when the page is scrolled.*/
        flex-direction: column;
        position: fixed;
        z-index: 1;
    }
    .navbar-flex.responsive > div { /*This css changes the colour of the navbar on hamburger click*/
        background-color:#612848;
        position: absolute;
    }
    .navbar-flex.responsive .navbar-flex-right{  /*This css sets the navbar menu below the hamburger icon and logo, when it opens*/
        top: 50px;
        z-index: 1;
    }
    .navbar-flex.responsive .navbar-flex-left{ /*This css sets the logo and hamburger icon on top of other elements on the page, so they are not visible*/
        z-index: 1;
    }
    .navbar-flex.responsive .hamburger{ /*This css changes the colour of the hamburger on click*/
        color: white;
    }
    .navbar-flex.responsive .logo{ /* When mobile navbar is open, changes hue of logo, just for fun.*/
        filter: hue-rotate(90deg);
    }
}
/*Testimonials extra styling section - Owner Victor Toth*/
#TestimonialHero {
    background-image: url("../images/15.jpg"); /* sets background hero image */
    filter: hue-rotate(270deg);                /* cool filter that changes image colour to match page theme */
}
/* sets styles for testimonials box */
.flex-TestimonialBox {
    display: flex;
    background-color: #c397d1;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 10%;
    border-radius: 15px;
}
.flex-TestimonialBox > div{
    text-align: center;
    padding: 5px    
}
.VideoBox {
    background-color: #c397d1;
    justify-content: center;
    margin: 10%;
    border-radius: 15px;
    padding: 5px
}
.video1 {
    max-width: 75%;
    border-radius: 15px;
}
.video2 {
    max-width: 75%;
    border-radius: 15px;
}
/* sets styles for video play button */
.ButtonVideo {
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    max-width: 300px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    color: #000000; 
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
}
 /* style for linkedin buttons, colour blue is the exact one from linkedin Owner: Kerstyne*/
.linkedinbutton{
    transition-duration: 0.4s;
    color: white;
    background-color:#c397d1;
    border: none;
    font-size: 25px;
    float: left;
}
.linkedinbutton:hover{
    color: #0a66c2;
    cursor: pointer;
}
/* style for teams page flex-boxes Owner: Kerstyne
https://www.w3schools.com/css/css3_flexbox.asp - ideas taken from here*/
.flex-Goteam{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 70px;
}
.flex-Goteam>div{
    padding: 25px;
    height: auto;
    background-color: #c397d1;
    border-radius: 15px;
    margin: 20px;
}
.teamimage{
    float: left;
    height: auto;
    max-width: 100%;
    padding-right: 25px;
    padding-bottom: 10px;
}
/* Such a simple solution for what I wanted and it still took me a few hours to do
because I was overcomplicating it *flips table* - Kerstyne*/
.teaminfocont{
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}
.teamname{
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
}
.teaminfo{
    font-size: 12pt;
    text-align: left;
}
.PartnersTitle{
    padding-top: 70px;
}
/* Parameters to have Team Page title over hero image*/
.TPheroimagetitle {
    position: absolute;
    left: 0;
    bottom: 0;
}
.TPheroimagecontainercontainer{
    height: 500px;
}
/* Parameters to contain the Team Page hero image*/
.TPheroimagecontainer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/AerialPattern.jpg");
    position: relative;
    filter: hue-rotate(90deg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 768px) {
      
    h1{ /*Sets page title smaller for smaller devices*/
        font-size: 40px;
    }
    .TPheroimagecontainercontainer{
        height: 250px;
    }
}
/*Style for mission statement title on index page*/
.missionstatementtitle{
    text-align: center;
}
/*Style for partner paragraphs, needed margins to go with the websites theme*/
.partnerparagraphs{
    margin-left: 100px;
    margin-right: 100px;
  }

/*Locations page styling - Owner: Jade*/
#locationhero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/BuildingsToronto.jpg");
    filter: hue-rotate(90deg);
}

.locationwrapper {
	display: block;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

.mapbutt {
	width: 45%;
	height: auto;
	float: left;
	justify-content: center;
	padding: 5px;
	margin: 20px;
	background-color: #DBCCE0;
	border: none;
}

.mapbutt img {
	width: 100%;
	height: auto;
	border-radius: 25px;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

.mapbutt img:hover{
	cursor: pointer;
	transform: scale(1.03,1.03);
	transition: .3s transform;
}

.locationdesc {
	display: flex;
	background-color: #c397d1;
	border-radius: 15px;
	padding: 20px;
	margin-top: 30px;
	margin-bottom:50px;
	justify-content: center;
}

.maps {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#contactlink {
	text-decoration: none; 
	color: #000000;
	font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #c397d1;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Images in modal boxes */
.modalimage {
    width: 10%;
    height: auto;

}