/* 
GEOM101 Web Design & Programming
Web page for Assignment 3
*/

/* referencing custom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

/* Setting the background colour, all text is aligned centre */
body {
    background-color: #DBCCE0; 
    text-align: center;
}	

/* Set h1 parameters here */
h1 {
	color: #ffffff; 
	font-family: 'Monoton', cursive;
	font-size: 60px;
	font-weight: lighter;
	margin: 25px
} 

/* Set h4 parameters here */
h4 {
	color: #ffffff; 
	font-family: 'Monoton', cursive;
	text-shadow: 2px 2px 8px #ea00ff;
} 

/* Set p parameters here */
p {
	color: #000000; 
    font-family: 'Nunito Sans', sans-serif;
    font: 12px
}


.heroimagetitle {
	position:absolute;
	left:0;
	bottom:0
}

.missionstatement{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px; 
}
.flex-containerServ {
    display: flex;
    flex-wrap: wrap;
    background-color: #DBCCE0;
    align-items: center;
    justify-content: center;
}
  
.flex-containerServ > div {
    background-color: #c397d1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
    flex-wrap: wrap;
    
}

.heroimagecontainer{
	position: relative;
}

.flex-containerProjects {
    display: flex;
    background-color: pink;
    text-align: center;
  }
  
  .flex-containerProjects > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }