/* 
GEOM101 Web Design & Programming
Web page for Assignment 3
*/

/* referencing custom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

/* Most of the general CSS settings were set by Victor */
/* Setting the background colour, all text is aligned centre */
body {
    background-color: #DBCCE0; 
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    height: 100%;
}	

footer{
    background-color: #a673b8; 
    text-align: center;
}

/* Set h1 parameters here */
h1 {
	color: #ffffff; 
	font-family: 'Monoton', cursive;
	font-size: 8vw;
	font-weight: lighter;
	margin: 25px
} 

/* Set h2 parameters here, plan to use in pages */
h2{
    font-weight: bold;
}

/* Set h3 parameters here, plan to use in pages */
h3{
    font-size: 10vw;
}

/* Set h4 parameters here */
h4 {
	color: #ffffff; 
	font-family: 'Monoton', cursive;
	text-shadow: 2px 2px 8px #ea00ff;
    font-size: 20px;
    font-weight: lighter;
}

/* Set p parameters here */
p {
	color: #000000; 
    font-family: 'Nunito Sans', sans-serif;
    font: 12px
}
p .ServInfo {
	color: white; 
    font-family: 'Nunito Sans', sans-serif;
    font: 12px   
}

/* Parameters to have Company Name overtop of hero image*/
.heroimagetitle {
	position:absolute;
	left:0;
	bottom:0
}

.heroimagecontainercontainer{
    height: 500px;
}

/* Parameters to contain the hero image*/
.heroimagecontainer{
    background-image: url("../images/DEM2.jpg");
	position: relative;
    filter: hue-rotate(90deg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Parameters for mission statement on landing page*/
.missionstatement{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px; 
}

/*Container*/
.flex-containerServ {
    display: flex;
    flex-wrap: wrap;
    background-color: #DBCCE0;
    justify-content: center;
}
  
.flex-containerServ > div {
    background-color: #c397d1;
    width: 33%;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 15%;
    padding: 10px;
}

.ServTitle {
    color: white; 
    font-family: 'Nunito Sans', sans-serif;
    font: 12px   
}

.ServImg {
    max-width: 25%;
    float: left;
    filter:hue-rotate(90deg);
}

/*Container for Projects section on landing page, owner: Jade*/
.flex-containerProjects {
    display: flex;
    flex-wrap: wrap;
    background-color: #DBCCE0;
    justify-content: center;
    margin: 30px;
  }
  
.flex-containerProjects > div {
    background-color: #f1f1f1;
    width: 10%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 10px;
    flex-wrap: wrap;
    border-radius: 30%
  }

.ProjectsImg {
      max-width: 100%;
      max-height: auto;
      filter:hue-rotate(90deg);
  }

/*Responsive styling for projects section, owner: Jade*/
@media only screen and (max-width: 900px) {
	.flex-containerProjects > div {
    width: 40%;
    margin: 10px;
  }
}

  /* Container for Partners on Team page, Owner: Kerstyne*/
  .flex-containerPart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: center;
    background-color:rgb(233, 143, 233);
}
.flexcontainerPart > div{
    margin: 10px;
    text-align: center;
}

.partnerlogo{
    max-width: 100%;
    float: bottom;
    padding-left: 50px;
    padding-right: 50px;
}

/* Navbar Styling, owner: Ridley */
.navbar-flex{ /*Class for overall navbar */
    margin: 0;
	display: flex;
	flex-direction: row;
    width: 100%;
    height: auto;
    background-color:white;
}

.navbar-flex-left {  /*Class for navbar flex containing logo */
	flex: 40%;
    align-self: center;
} 

.navbar-flex-right { /*Class for navbar flex containing navigation buttons */

  flex: 60%;
  align-self: center;
  justify-content: right;
}

.logo-container { /*Class for div containing logo */
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}

.logo { /*Class for logo imaging */
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin: 0 1px;
}

.navbar-menu { /*Class for navbar list */
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Setting justify-content and align-items to center centers my flexboxes in mobile view */
    align-items: center;
    float: right;
}

.navbar-item { /*Class for individual navbar items */
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px; /* vertically centers text */
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.navbar-item:hover{ /*Assigns hover attribute to navbar items */
    background-color: #612848;
    color: white;
    transition: background .2s ease-in;
}

#active{ /*Assigns attributes to active ID navbar item */
    background-color: #e08223;
    color: white;
    text-shadow: white;
}

/* Navbar dropdown styling */
.dropdown { /*Dropdown div class for navbar items with dropdowns*/
    position: relative;
    display: inline-block;
}

.dropdown-menu { /*Dropdown div for dropdown menu links*/
    position: absolute;
    width: 100px;
    z-index: 1; /* Ensures dropdown does not appear behind other elements */
}

.dropdown-menu a { /*Styling for dropdown links*/
    display: none;
    width: 100px;
    height: 30px;
    line-height: 30px; /* vertically centers text */
    font-weight: bold;
    background-color: white;
    color: black;
    text-decoration: none;
    opacity: 0;
    position: relative;
}

.dropdown-menu a:hover{ /*Hover styling for dropdown links*/
    background-color: #612848;
    color: white;
    transition: background .2s ease-in;
}

.dropdown:hover .dropdown-menu a{
    display: block; /*Turns display of dropdown links on when hovering over dropdown*/
}

.dropdown:hover .navbar-item{ /*Keeps dropdown hover effect on while navigating dropdown list*/
    background-color:#612848;
    transition: background .2s ease-in;
    color: white;
}

.hamburger { /*Styling for hamburger icon*/
    color: #612848;
    height: 50px;
    line-height: 50px;
    display: none; /*Keeps hamburger hidden for desktop displays */
    margin: 0 5px;
}

/* Navbar Dropdown animation styling, based on: https://codinhood.com/micro/10-dropdown-menu-animations-css-transform */
@keyframes rotateX { /*Sets keyframes for dropdown link animations*/
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: scale(-20deg);
    }
    100% {
      opacity: 1;
      transform: scale(0deg);
    }
  }

.dropdown-item1 { /*Sets animation timing and delay for first dropdown link*/
    transform-origin: top-center;
    animation: rotateX 300ms 60ms ease-in-out forwards;
}

.dropdown-item2 { /*Sets animation timing and delay for second dropdown link*/
    transform-origin: top-center;
    animation: rotateX 300ms 120ms ease-in-out forwards;
}


/*Navbar Mobile Styling, based on w3schools: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
@media only screen and (max-width: 768px) {
    
    .navbar-menu{ /*Sets navbar in front of other elements for styling*/
        z-index: 1;
    }
    .navbar-menu > *{ /*Turns off navbar menu initially*/
        display: none;
    }
    .navbar-flex > div { /*Turns off navbar menu initially*/
        width: 100%;
    }
    a.hamburger{ /*Displays hamburger for mobile browsers*/
        display: block;
        float: right;
    }
    .navbar-menu.responsive { /*Javascript function appends class 'responsive' to navbar menu when hamburger is clicked*/
        flex-direction: column; /*This css resizes the navbar menu when the hamburger is clicked*/
        width: 100%;
    }
    .navbar-menu.responsive > *{ /*This css centers the navbar menu items and gives them styling on mobile*/
        float: none;
        display: block;
        background-color:#612848;
        color: white;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
    }
    .navbar-menu.responsive a{ /*This css styles the links within the navbar menu items and centers the text within them*/
        float: none;
        display: block;
        background-color:#612848;
        color: white;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .navbar-menu.responsive .dropdown-menu{ /*This css turns off the dropdowns for mobile*/
        display: none;
    }
    .navbar-flex { /*This css centers the navbar menu and logo and changes the flex direction to vertical*/
        flex-direction: column;
    }
    .navbar-flex.responsive > div { /*This css changes the colour of the navbar on hamburger click*/
        background-color:#612848;
    }
    .navbar-flex.responsive .hamburger{ /*This css changes the colour of the hamburger on click*/
        color: white;
    }
}